@page "{id}"
@model presentation.Pages.Submissions.DetailModel
@using presentation.Services;


@if (!Model.ModelState.IsValid)
{
    <th:div asp-validation-summary="All" class="alert-danger p-3 border"></th:div>
}

@if (Model.MySubmission != null)
{
<div>
    <h3>@Model.MySubmission.TaskName</h3>
    <p>Submitted on: @Model.MySubmission.SubmittedOn</p>
    @if (User.IsAdmin())
    {
        <p><small>Id: @Model.MySubmission.Id</small></p>
    }
    <pre class="editor">@Model.MySubmission.Content</pre>
</div>
}
else
{
    <div class="alert-warning p-3 border">Not found</div>
}

@if (Model.TestCaseList != null && Model.TestCaseList.Count > 0)
{
    <table class="table">
        <tr>
            <th>Test Name</th>
        </tr>
        @foreach (var testCase in Model.TestCaseList)
        {
            <tr>
                <td>
                    @testCase.Name
                </td>
                <td>
                    <th:form method="post">
                        <th:input type="hidden" asp-for="@Model.TestGuid" value="@testCase.Id" />
                        <input class="btn btn-primary" type="submit" value="Run test!" />
                    </th:form>
                </td>
            </tr>
        }

    </table>
}
else
{
    <div class="alert-info">
        <p>There are no tests available</p>
    </div>
}

@if (Model.MySubmission != null)
{
    @await Component.InvokeAsync(
        "TestList",
<<<<<<< HEAD
        new { userEmail = User.GetEmail(), submissionId = Model.MySubmission.Id })
=======
        new { userEmail = User.GetEmail(), submissionId = Model.MySubmission.Id})
>>>>>>> d2a4751 (Code cleanup - removed some whitespaces)
}
