@page "{id:guid}"
@model presentation.Pages.Submissions.DetailModel


@if (!Model.ModelState.IsValid)
{
    <th:div asp-validation-summary="All" class="alert-danger p-3 border"></th:div>
}

@if (Model.MySubmission != null)
{
    <div>
        <h4>@Model.MySubmission.TaskName</h4>
        <p>Submitted on: @Model.MySubmission.SubmittedOn</p>
        <pre class="p-3 border bg-light">@Model.MySubmission.Content</pre>
        <p><small>Id: @Model.MySubmission.Id</small></p>
    </div>
}
else
{
    <div class="alert-warning p-3 border">Not found</div>
}

@if (Model.TestCaseList != null)
{
    <table class="table">
        <tr>
            <th>Test Name</th>
        </tr>
        @foreach (var testCase in Model.TestCaseList)
        {
            <tr>
                <td>
                    @testCase.Name
                </td>
                <td>
                    <button class="btn btn-primary">Run test!</button>
                </td>
            </tr>
        }

    </table>
}
else
{
    <div class="alert-info">
        <p>There are no tests available</p>
    </div>
}
