@page
@model presentation.Pages.Submissions.IndexModel
@using presentation.Model

@{
    ViewBag.Title = "Submission";
}

<h3>Submissions</h3>
<th:div asp-validation-summary="All"></th:div>
<div>
    <span>All your submissions are listed on this page.</span>
    <table class="table mt-3">
        <tr>
            <th>
                Submission
            </th>
            <th>
                Task
            </th>
            <th>
                Submission time
            </th>
        </tr>
        @foreach (var submission in Model.DisplayedSubmissions)
        {
            <tr>
                <td>
                    <th:a asp-page="/Submissions/Detail" asp-route-id="@submission.Id">@submission.Name</th:a>
                </td>
                <td>
                    @submission.TaskName
                </td>
                <td>
                    @submission.SubmittedOn
                </td>
            </tr>
        }
        @{
            int[] a = new int[Model.numberOfPages];

        }
        @for(var i = 0; i<Model.numberOfPages; i++){
                a[i] = i;
        }
        <br>
        <th:form method="get">
        <label>
            Page number
            <th:select asp-for="PageNumber" asp-items="@(new SelectList(a))" onchange="this.form.submit();"></th:select>
        </label>
        </th:form>

         
            
        
    </table>
</div>
