@page "{id}"
@model presentation.Pages.Tasks.DetailModel
@{
}

@if (!ModelState.IsValid)
{
    <div>
        <th:div asp-validation-summary="All" class="alert-danger"></th:div>
    </div>

}


@if (Model.TaskDetail != null)
{
    <div>
        <h4>@Model.TaskDetail.Name</h4>
        <p><em>Deadline is: <strong>@Model.TaskDetail.Ends</strong></em> </p>
        <p>Current time is @DateTime.UtcNow</p>
        <div class="p-3 my-2 border bg-light">
            @Html.Raw(@Model.TaskDetail.Description)
        </div>
    </div>
    @if (Model.IsAdmin)
    {
        <hr />
        <h5>Admin section</h5>
        <p>Claims: @Model.TaskDetail.ClaimName  ==  @Model.TaskDetail.ClaimValue</p>
        <p>Created by: @Model.TaskDetail.CreatedBy</p>
        <hr />
    }
}
<p>Here you can submit your source code.</p>
<p>Each task has a deadline, so make sure you are on time.</p>
<h4>Submit here</h4>
<th:form method="post">
    <th:label asp-for="NewSubmission.Content">Your source code</th:label>
    <th:textarea asp-for="NewSubmission.Content" class="form-control mb-1" style="height:5em;" placeholder="//insert your code here"></th:textarea>
    <input type="submit" value="Submit" class="btn btn-primary" />
</th:form>
