@model List<presentation.Model.TestRun>

@if (Model != null)
{
    <table class="table">
        <tr>
            <th>Test Name</th>
            <th>Task</th>
            <th>Created at</th>
            <th>Status</th>
            @if(ViewData["IsAdmin"] as bool ? ?? false){
                <th>Counted</th>
            }
        </tr>
        @foreach (var testRun in Model)
        {
            <tr>
                @if (ViewData["IsAdmin"] as bool? ?? false)
                {
                    <td>
                        <th:a asp-page="/Admin/Test/Detail"
                              asp-route-testId="@testRun.Id"
                              asp-route-userEmail="@testRun.CreatedBy">
                            @testRun.TestCaseName
                        </th:a>
                    </td>
                }
                else
                {
                    <td><th:a asp-page="/Tests/Detail" asp-route-id="@testRun.Id">@testRun.TestCaseName</th:a></td>
                }
                <td>@testRun.TaskName</td>
                <td>@testRun.CreatedAt</td>
                <td>@testRun.Status</td>
                @if(ViewData["IsAdmin"] as bool ? ?? false){
                @* <td>@testRun.Counted</td> *@
                <th:form method="post">
                <td> <input type="checkbox" name="@testRun.Id" checked="@testRun.Counted"></td>
                <td>
                        <th:input asp-page-handler="Counted" asp-route-testRunId = "@testRun.Id"
                        class="btn btn-primary" type="submit" value="Update"/> 
                </td>
                </th:form>
            }
            </tr>
        }
        
    </table>

}
