@model List<presentation.Model.TestRun>

@if (Model != null)
{
    <table class="table">
        <tr>
            <th>Test Name</th>
            <th>Task</th>
            <th>Created at</th>
            <th>Status</th>
        </tr>
        @foreach (var testRun in Model)
        {
            <tr>
                @if (ViewData["IsAdmin"] as bool? ?? false)
                {
                    <td>
                        <th:a asp-page="/Admin/Test/Detail"
                              asp-route-testId="@testRun.Id"
                              asp-route-userEmail="@testRun.CreatedBy">
                            @testRun.TestCaseName
                        </th:a>
                        @if (testRun.Counted == false)
                        {
                            <span class="badge badge-info">Not counting</span>
                        }
                    </td>
                }
                else
                {
                    <td>
                        <th:a asp-page="/Tests/Detail" asp-route-id="@testRun.Id">@testRun.TestCaseName</th:a>
                        @if(testRun.Counted == false)
                        {
                            <span class="badge badge-info">Not counting</span>
                        }
                    </td>
                }
                <td>@testRun.TaskName</td>
                <td>@testRun.CreatedAt</td>
                <td>@testRun.Status</td>
            </tr>
        }
    </table>

}
