@page
@model presentation.Pages.Admin.Submissions.ListModel
@{
}

@{
    ViewBag.Title = "All Submissions";
}

<h3>Submissions</h3>
<th:div asp-validation-summary="All"></th:div>
<div>
    @{
        var pages = Enumerable.Range(0, Model.numberOfPages);
    }
    <br>
    <th:form method="get" id="pageForm">
    <label>
         <label>
            Filter by user
            <th:select asp-for="SelectedUser" asp-items="@Model.Users" onchange="this.form.submit();"></th:select>
        </label>
        Page number
        <th:select asp-for="PageNumber" asp-items="@(new SelectList(pages))" onchange="this.form.submit()"></th:select>
    </label>
    </th:form>

    <table class="table">
        @foreach (var submission in Model.Submissions)
        {
            <tr>
                <td>
                    <th:a asp-page="/Admin/Submissions/Detail"
                          asp-route-user="@submission.UserEmail"
                          asp-route-submissionId="@submission.Id">
                        @submission.Name
                    </th:a>
                </td>
                <td>
                    @submission.TaskName
                </td>
                <td>
                    @submission.UserEmail
                </td>
                <td>
                    @submission.SubmittedOn
                </td>
            </tr>
        }
    </table>
    


</div>
