@page
@model presentation.Pages.Admin.Users.IndexModel


<th:div asp-validation-summary="All"></th:div>

@if (Model.AllUsers.Count<string>() != 0)
{
    <div align="right">
        <p><th:a class="btn btn-primary" asp-page="/Admin/Users/Update">Update user list</th:a></p>
    </div>

    <table class="table">
        @foreach (var user in Model.AllUsers)
        {
            <tr>
                <td><th:a asp-page="/Admin/Users/Index" asp-page-handler="Detail" asp-route-email="@user"> @user</th:a></td>
            </tr>
        }
    </table>
}

@if (Model.Claims != null)
{
    <h5>Details for @Request.Query["email"]</h5>
    <table class="table">
        @foreach (var claimKV in Model.Claims)
        {
            <tr>
                <td>@claimKV.Key</td>
                <td>@claimKV.Value</td>
            </tr>
        }
    </table>
}
